<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    
    <!-- Configure as needed -->
    <add key="FileName" value="SolarApp"/>

    <add key="AllConfigurations" value="Debug,Staging,Release"/>
    <add key="AllConfigurationsAlias" value="UAT,Staging,Prod"/>
    
  </appSettings>
</configuration>