<div class="cost">
    <script>
        window.ga = window.ga || function() { (ga.q = ga.q || []).push(arguments) };
        ga.l = +new Date;
        ga('create', CSharp.GetTrackingId(), 'auto');
        ga('send', 'Catalogue');
    </script>
    <h4 class="centre">Catalogue</h4>
    <div class="catalogue">
        <table class="table border-less" width="90%">
            <tr>
                <td><span class="panel panel-default"><img src="img/Bike.jpg" /></span></td>
                <td>Bike</td>
            </tr>
            <tr>
                <td><span class="panel panel-default"><img src="img/Bulb.jpg" /></span></td>
                <td>Bulb</td>
            </tr>
            <tr>
                <td><span class="panel panel-default"><img src="img/Jiko.jpg" /></span></td>
                <td>Jiko</td>
            </tr>
            <tr>
                <td><span class="panel panel-default"><img src="img/Phone.jpg" /></span></td>
                <td>Phone</td>
            </tr>
            <tr>
                <td><span class="panel panel-default"><img src="img/tank.jpg" /></span></td>
                <td>Tank</td>
            </tr>
            <tr>
                <td><span class="panel panel-default"><img src="img/Torch.jpg" /></span></td>
                <td>Torch</td>
            </tr>
        </table>
    </div>
    <div class="button-small">
        <button class="btn btn-block btn-inverse cost" ng-click="go('/saving-per-year')">BACK</button>
    </div>
</div>

